
Create database [dbTask]

USE [dbTasks]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 04/09/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 04/09/2026 16:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[DataPlanejada] [datetime] NOT NULL,
	[DataIniciada] [datetime] NULL,
	[DataFinalizada] [datetime] NULL,
	[DataCancelada] [datetime] NULL,
	[StatusTarefa] [varchar](30) NOT NULL,
	[Prazo] [varchar](20) NOT NULL,
	[FuncionarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo]) VALUES (1, N'Carlos Silva', N'Desenvolvedor Senior')
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo]) VALUES (2, N'Ana Oliveira', N'Analista de QA')
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo]) VALUES (3, N'Roberto Santos', N'Gerente de Projetos')
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarefa] ON 

INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (1, N'Criar tela de Login', CAST(N'2026-10-08T00:00:00.000' AS DateTime), CAST(N'2026-01-08T00:00:00.000' AS DateTime), NULL, NULL, N'Em Andamento', N'Em dia', 1)
INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (2, N'Homologar Release 1.0', CAST(N'2026-05-08T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'Pendente', N'Em atraso', 2)
INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (3, N'BACKEND TESTE', CAST(N'2026-08-06T15:29:00.000' AS DateTime), CAST(N'2026-08-08T15:29:00.000' AS DateTime), CAST(N'2026-08-12T15:29:00.000' AS DateTime), CAST(N'2026-08-21T15:29:00.000' AS DateTime), N'INICIADO', N'10', 2)
SET IDENTITY_INSERT [dbo].[Tarefa] OFF
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_Funcionario] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_Funcionario]
GO
